{
    "extends": [
        "next/core-web-vitals"
        // "plugin:@typescript-eslint/recommended",
        // "prettier"
    ]
    // "extends": "next/core-web-vitals",
    // "extends": "next"
    // "rules": {
    //     "prefer-const": "error"
    // }
}
